*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/theater-crowd.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
form{
    color: white;
    text-align: center;

}

.error{
    color: #EB1B2F;
    font-size: 18px;
}
.success{
    color: green;
    font-size: 18px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.brand{
    color:#ffff;
    text-decoration: none;
    font-size: 36px;

}
nav img{
    width: 80px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#EB1B2F;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;

}
.table-container{

    padding: 0 10%;
    margin: 40px auto 0;
}
.table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}
.table th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    padding: 12px;
    vertical-align: top;
}
.table td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
}

.btn{
    color: white;
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    background-color: #EB1B2F;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
nav .fa{
    display: none;
}




@media(max-width:768px){

    .table th{
        display: none;
    }
    .table, .table tr, .table td, tbody{
        display: block;
        width: 100%;
    }



    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background-color: #EB1B2F;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

}


h1{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 600;

}

h3{
    color: white;
    font-weight: 600;
    margin: 5px 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color:#EB1B2F;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}